* {
	margin: 0;
	padding: 0;
}

.head {
	text-align: center;
	font-size: 30px;
	padding: 5px;
	background: linear-gradient(90deg,rgba(64, 64, 233, 1) 25%,rgba(26, 218, 233, 1) 98%);
	color: rgb(231 231 231);
}

.container { 
	width: 100vw;
    height: 95vh;
}

.content {
	margin: 0 auto;
    position: relative;
    top: 30px;
}

.block-form {
    display: grid;
    justify-content: center;
}


form { 
	display: flex;
}

.in-task {
	padding: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 6px 0 gray;
}

.block-btn {
	margin-left: 15px;
}

.btn-create-task {
	padding: 3px 15px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	transition: 0.2s all;
}

.btn-create-task:hover {
	background-color: green;
	color: white;
	filter: brightness(95%);

}

.btn-create-task:active {
	filter: brightness(105%);
}