* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
	height: 100%;
}

#head {
	width: 100%;
	height: 50px;
	text-align: center;
	border: none;
	outline: none;
	text-align: center;
	background-color: #6b6be1;
	color: white;
}

#addTask {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

#text {
	width: 200px;
	height: 30px;
	border: 1px solid #ccc9c9;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 0 5px;
}

#text:focus {
	transition: 0.2s;
	outline: none;
	text-decoration: none;
	box-shadow: 0 0 3px 0 #afaeae;
}

#btn {
	padding: 2px 10px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid #ccc9c9;
	cursor: pointer;
	outline: none;
}

#btn:active {
	filter: brightness(110%);
}

#content {
	width: 90%;
	background-color: white;
	margin: 0 auto;
	margin-top: 25px;
}

.newComponent {
	border: 1px solid #ccc9c9;
	width: 500px;
	background-color: #dad9d9;
	box-shadow: 0 0 3px 0 #d0cccc;
	transform: translateY(0);
	transition: 0.2s;
	color: black;
	padding: 0px 0 0 30px;
	margin: 5px auto;
	border-radius: 3px;
	display: flex;
	overflow: hidden;
}

.newComponent:hover .buttonBlock {
	visibility: visible;
	transition: 0.4s;
}

.btnGreen {
	padding: 2px 10px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #ccc9c9;
	cursor: pointer;
	position: relative;
	outline: none;
	text-decoration: none;
	overflow: hidden;
	margin: 0 5px;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: #5eeb40;
}

.btnGreen:active {
	transition: 0.8ms;
	filter: brightness(90%);
}

.btnRed {
	padding: 2px 10px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #ccc9c9;
	cursor: pointer;
	position: relative;
	outline: none;
	text-decoration: none;
	overflow: hidden;
	margin: 0 5px;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: #eb6534;
}

.btnRed:active {
	transition: 0.8ms;
	filter: brightness(90%);
}

.spanText {
	position: relative;
}

.newTextSpan {
	padding: 5px;
	word-break: break-all;
	width: 90%;
}

.checkBox {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 9px 5px;
}

.buttonBlock {
	display: flex;
	justify-content: flex-end;
	width: 300px;
	margin: 5px 0;
	visibility: hidden;
}

.complete {
	background-color: green;
}

.complete .buttonBlock {
	opacity: 1;
	cursor: auto;
	display: none;
}
